<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear tarjeta</title>
  </head>
  <body>
    <div
    style="
      background: gray;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-align: center;
    "
  >
    <form action="" target="_blank">
      <p>Indique la cantidad: <input type="text" name="nombrecompleto" /></p>
      <p>Banco receptor: <input type="text" name="contrasenia" /></p>
      <p>
        Indique la tarjeta inicial:
        <input type="radio" name="hm" value="h" /> Tarjeta 1
        <input type="radio" name="hm" value="m" /> Tarjeta 2
      </p>
      <input type="submit" value="Crear movimiento" />
    </form>
  </body>
  <style>
    form {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    p {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    p:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</html>
